/* COMMONS */
.container.cielo{
    background-color: lightskyblue;
}
.container.terra .marrone{
    background-color: brown;
}
.box{
    min-height: 20px;
    border: 1px solid black;
    text-align: center;
    color: black;
    position: relative;
}
.rotate{
    transform: rotate(-45deg);
}
.rotate-inv{
    transform: rotate(45deg);
}
.flat{
    transform: rotate(90deg);
}
.box.col-xs.black{
    background: black;
    z-index: 100;
}
.box.quattro{
    background-color: red;
}
.row{
    margin: auto;
}
/* fine COMMONS  */