/* COMMONS */
.container.cielo{
    background-color: lightskyblue;
}
.cielo{
    background-color: lightskyblue;
}
.marrone{
    background-color: brown;
}
.yellow{
    background-color: yellow
}
.lightyellow{
    background-color:rgba(255, 255, 66, 0.5) ;
}
.white{
    background-color: white;
}
.box{
    min-height: 20px;
    text-align: center;
    color: black;
    position: relative;
}
.rotate{
    transform: rotate(-45deg);
}
.rotate-inv{
    transform: rotate(45deg);
}
.box.col-xs.black{
    background: black;
    z-index: 100;
}
.box.quattro{
    background-color: red;
}
.row{
    margin: auto;
}
/* fine COMMONS  */